body{
    padding: 0;
    margin: 0;
    font-family: 'Ledger', serif;
    background-color: #F8F4FF;
}
#body-profile{
    background-color: #F8F4FF;
    width: 100%;
    height: 100%;
    margin:0;
}
#body-chats{
    background-color: #F8F4FF;
    width: 100%;
    height: 100%;
    margin:0;
}
header{
    width: 100%;
    /* height: auto; */
    height: 155px;
    background: #DFCCF1;
    /* display: flex;
    align-items: center; */
}
header>nav{
    width: 100%;
    height: auto;
}
header>nav > ul{
    display: flex; /*элементы в теге в линию*/
    gap: 50px; /*отступ в контейнере*/
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}
header>nav > ul >li{
    list-style-type: none;
}
header>nav > ul>h3{
    box-sizing: border-box;

    position: absolute;
    width: 161px;
    height: 77.5px;
    left: 48px;
    

    font-family: 'Henny Penny';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 113px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}
header>nav>ul>img{
    position: absolute;
    width: 86px;
    height: 52px;
    left: 217px;
    top: 51px;
    /* display: flex;
    align-items: center; */
}
#account {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 91.4%;
    top: 42px;
    filter: invert(100%);
}
header>nav > ul >li>a{
    color: rgba(255, 255, 255, 0.75);/*изменить цвет текста*/
    font-size: 25px;
    display: flex;
    /* justify-content: center; */
    text-align: center;
}
header>nav > ul >li>a.nav-link.active{
    color: rgba(255, 255, 255, 0.75);/*изменить цвет текста*/
    text-decoration: none;/*убирает подчеркивания*/
    transition: all 0,3s ease; /*плавност при изменении*/
    font-size: 25px;
}
header>nav > ul >li>a.nav-link{
    color: rgb(255, 255, 255);/*изменить цвет текста*/
    text-decoration: none;/*убирает подчеркивания*/
    transition: all 0,3s ease; /*плавност при изменении*/
    font-size: 25px;
}
header>nav > ul >li>a.nav-link:hover{
    color: rgba(177, 141, 210, 0.75);
    transition: transform 0.25s ease forwards; /*плавност при изменении*/
}
header > nav > ul > li > a.nav-link {
    position: absolute;
    top: 61px;
    height: 22px;
    font-family: 'Ledger', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: all 0.3s ease;
}
header > nav > ul > li:nth-child(3) > a.nav-link {  /* Главная страница */
    left: 55%;
    width: 13.64%;
}
header > nav > ul > li:nth-child(4) > a.nav-link {  /* Чаты */
    left: 70%;
    width: 9%;
}
header > nav > ul > li:nth-child(5) > a.nav-link {  /* Профиль */
    left: 77%;
    width: 8.54%;
}
#main-profile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 75px 0;
}
#main-chats{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 75px 0;
}

.main{
    width: 100%;
    min-height: 100vh;          /* гарантирует, что фон покроет всю высоту экрана */
    height: auto;
    overflow-x: hidden;
    background-image: url("../img/fon.jpg");
    background-repeat: no-repeat;
    background-position: center center;   /* центрирование изображения */
    background-size: cover;               /* масштабирует картинку, покрывая всю область без искажений */
    background-attachment: scroll;        /* стандартное поведение (можно заменить на fixed для параллакс-эффекта) */
    background-color: #f0f0f0;  
}

.main-lenta{
    width: 100%;
   
}

/* Страница Входа */
.forma{
    width: 75%;
    height: 80%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 20px;
    border: 1px solid #95ABDB;
    border-radius: 50px;
    margin: auto;
    color: #95ABDB;
    margin-top: 150px;
}
.qrcode{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #95ABDB;
}
#podrobnee{
    color: #6F81A6;
}
.qrcode>img{
    width: 192px;
    height: 192px;
}
.qrcode>h3{
    font-size: 32px;
}
.qrcode>p{
    font-size: 16px;
}
.start{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start>a{
    color: #6F81A6;
    text-decoration: none;
}
.start>button{
    color: #FFFFFF;
    background-color: #DFCCF1;
    border-radius: 20px;
    width: 30%;
    height: 15%;
    font-size: 24px;
    border: 1px solid #95ABDB;
}
.start>button:hover{
    color: #ffffff;
    background-color: #b5a4c5;
}
.start>h3{
    font-size: 32px;
}
.start>p{
    font-size: 16px;
}
.start>input{
    border-radius: 20px;
    width: 90%;
    height: 10%;
    font-size: 20px;
    border: 1px solid #95ABDB;
    color: #948D8D;
}


#vector17{
    position: absolute;
    left: 87.5%;
    top: 70%;
    transform: matrix(-0.85, 0.53, 0.53, 0.85, 0, 0);
}



/* Регистрация */
.formaForRegistration{
    width: 38%;
    height: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid #95ABDB;
    box-sizing: border-box;
    border-radius: 20px;
    margin: auto;
    color: #95ABDB;
}
.registr>h3{
    font-size: 32px;
    display: flex;
    justify-content: center;
}
.registr>form{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 20px;
    gap: 20px;
}
.registr>form>input{
    border-radius: 20px;
    width: 100%;
    height: 54px;
    font-size: 20px;
    border: 1px solid #95ABDB;
    color: #948D8D;
}
.registr>form>p{
    margin: 0;
}
#butn{
    color: #FFFFFF;
    background-color: #DFCCF1;
    border-radius: 20px;
    width: 100%;
    height: auto;
    font-size: 24px;
    border: 1px solid #95ABDB;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
#butn:hover{
    color: #ffffff;
    background-color: #b5a4c5;
}



/* Лента */
.lenta{
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
}
.stroka1{
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 61px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: auto;
}
.stroka3{
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: auto;
}
#img{
    /* margin-right:15px; */
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 261px;
    height: 261px;
    background: #C7B5D8;
    border: 1px solid #6B587C;
    box-shadow: 0px 4px 4px #6B587C;
    border-radius: 20px;
}
#img2{
    /* margin-right:15px; */
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 213px;
    height: 261px;
    background: #C7B5D8;
    border: 1px solid #6B587C;
    box-shadow: 0px 4px 4px #6B587C;
    border-radius: 20px;
}
#img3{
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 215px;
    height: 261px;
    background: #C7B5D8;
    border: 1px solid #6B587C;
    box-shadow: 0px 4px 4px #6B587C;
    border-radius: 20px;
}
#img6{
    /* margin-right:15px; */
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 324px;
    height: 476px;
    background: #C7B5D8;
    border: 1px solid #6B587C;
    box-shadow: 0px 4px 4px #6B587C;
    border-radius: 20px;
}
#img7{
    /* margin-right: 15px; */
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 362px;
    height: 476px;
    background: #C7B5D8;
    border: 1px solid #6B587C;
    box-shadow: 0px 4px 4px #6B587C;
    border-radius: 20px;
}
#img8{
    /* flex-direction: row; */
    /* align-items: center; */
    padding: 10px;
    gap: 10px;
    width: 382px;
    height: 476px;
    background: #C7B5D8;
    border: 1px solid #6B587C;
    box-shadow: 0px 4px 4px #6B587C;
    border-radius: 20px;
}
.stroka2{
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 133px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: auto;
}
.stroka2>.stroka21{
    background: #C7B5D8;
    border: 1px solid #6B587C;
    box-shadow: 0px 4px 4px #6B587C;
    border-radius: 20px;
    width: 541px;
    height: 400px;
}
.stroka2>.stroka21>p{
    font-weight: 400;
    font-size: 20px;
    color: #B18DD2;
    margin: 0px 15px;
    padding: 0px;
}
.stroka2>.stroka21>#author{
    font-size: 15px;
    color: #AAA4AF;
    margin: -23px 10px;
    /* padding: 5px; */
    text-align: right;
}
#img4{
    /* flex-direction: row; */
    /* align-items: ; */
    padding: 10px;
    gap: 10px;
    width: 521px;
    height: 285px;
    
}
.stroka2>.stroka22{
    background: #C7B5D8;
    border: 1px solid #6B587C;
    box-shadow: 0px 4px 4px #6B587C;
    border-radius: 20px;
    width: 541px;
    height: 400px;
}
.stroka2>.stroka22>p{
    font-weight: 400;
    font-size: 20px;
    color: #B18DD2;
    margin: 0px 15px;
    padding: 0px;
}
.stroka2>.stroka22>#author{
    font-size: 15px;
    color: #AAA4AF;
    margin: -23px 10px;
    /* padding: 5px; */
    text-align: right;
}
#img5{
    /* flex-direction: row; */
    /* align-items: ; */
    padding: 10px;
    gap: 10px;
    width: 521px;
    height: 285px;
    
}

footer{
    width: 100%;
    height: 10%;
    background-color: #A5B8E0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer > ul{
    display: flex;
    justify-content: center;
}
.footer > ul > li{
    list-style-type: none;
}
.footer > ul > li > a{
    color: rgba(255, 255, 255, 0.783);
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 32px;
}
.footer > ul > li > a:hover{
    color: rgb(255, 255, 255);
}
.vetka{
   width: 15%;
   height: 29%; 
}
.container{
    width: 92%;
    height: 73%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}
.pervaya-stroka{
    width: 100%;
    height: 44%;
    display: flex;
    flex-direction: row;
    gap: 57px;
    align-items: flex-start;
}
.avatar{
    width: 31%;
    height: 100%;
    display: flex;
    justify-content: right;
    position: relative;
}
.avatar-column{
    display: flex;
    width: 74%;
    height: 92%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13px;
}
.photouser{
    border: 1px solid #B18DD2;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
    padding:  3% 3%;
    z-index: 1;
}

#elf{
    width: 100%;
    height: 100%;
}

.hat{
    width: 36%;
    height: 36%;
    z-index: 2;
    display: flex;
    justify-content: left;
    position: absolute;
    top: -3%;
    right: 64%;
}

#hat{
    width: 100%;
    height: 100%;
}

.nameuser{
    display: flex;
    width: 65%;
    height: 12%;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}
.nameuser > p{
    font-size: 24px;
    color: #B18DD2;
    text-align: center;
    padding: 0;
    margin:0;
}
.info{
    border: 1px solid #B18DD2;
    width: 64%;
    height: 88%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.250);
    padding-left: 2.5%;
    padding-top: 2.5%;
    padding-right: 2.5%;
    gap: 19px;
}
.info > p{
    font-size: 24px;
    color: #B18DD2;
    text-align: left;
    padding: 0;
    margin: 0;
}
.o-sebe{
    border: 1px solid #B18DD2;
    width: 91%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    background-color: white;
}
.o-sebe > p{
    font-size: 20px;
    color: #b18dd2b1;
    text-align: left;
    padding: 21px 23px;
    margin-bottom: 22px;
    margin-top: 0;
}
.osnovnaya-info{
    width: 91%;
    height: 6%;
    display: flex;
    flex-direction: row;
    gap: 125px;
    align-items: center;
}
.dr{
   display: flex;
   flex-direction: row;
   gap: 10px;
}
.zagolovok{
   font-size: 24px;
   color: #B18DD2;
   text-align: left;
   padding: 0;
   margin: 0;
}
.znachenie{
   font-size: 20px;
   color: #b18dd29e;
   text-align: left;
   padding: 3px 0;
   margin: 0;
}
.city{
   display: flex;
   flex-direction: row; 
   gap: 10px;
}
.statistika{
    width: 102%;
    height: 38%;
    z-index: 3;
    position: relative;
}
.statistika > img{
    width: 100%;
    height: 100%;
}

.numbers{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 26%;
    position: absolute;
    top: 10%;
    left: 3%;
    z-index: 4;
}
.numbers > p{
   font-size: 35px;
   color: #b18dd2;
   text-align: center;
   text-shadow: 0 3px 5px rgba(0, 0, 0, 0.250);
   margin: 0;
}
.poyasnenie{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 23%;
    position: absolute;
    top: 30%;
    z-index: 4;
}
.poyasnenie > p{
   font-size: 20px;
   color: #b18dd2;
   text-align: center;
   margin: 0;
}
.niz{
    width: 91%;
    height: 20%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding-bottom: 6%;
    gap: 10px;
}
.podrobnee{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    align-items: baseline;
    justify-content: left;
    gap: 5px;
}
.podrobnee > p{
   font-size: 20px;
   color: #b18dd2bd;
   margin: 0;
   padding: 0;
}
.podrobnee > img{
   width: 3%;
   height: auto;
}
.update{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: right;
}
.update > button{
   color: rgba(255, 255, 255, 0.874);
   background-color: #B18DD2;
   border-radius: 10px;
   border-style: none;
   padding: 5px 26px;
   font-size: 20px;
   font-family: inherit;
   transform: scale(1);
   transition: transform 0.3s ease;
}
.update > button:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.vtoraya-stroka{
    width: 100%;
    height: 56%;
    display: flex;
    justify-content: right;
    flex-direction: row;
    gap: 34px;
}
.pervaya-column{
    width: 31%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.friends{
    border: 1px solid #95ABDB;
    background-color: white;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.shapka{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 7px;
}
.zagolovok1{
   font-size: 24px;
   color: #95ABDB;
   text-align: left;
   padding-left: 9%;
   padding-top: 9%;
   padding-bottom: 12%;
   margin: 0;
}
.znachenie1{
   font-size: 24px;
   color: #95abdbc5;
   text-align: left;
   padding-top: 9%;
   padding-bottom: 12%;
   margin: 0;
}
.stroka-avatar{
    width: 100%;
    height: 41%;
    display: flex;
    justify-content: center;
}
.avatars{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7%;
}
.avatars > img{
    width: 33%;
    height: 100%;
}
.niz2{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row; 
    justify-content: left;
    align-items: center;
    gap: 5px;
}
.niz2 > p{
    padding-left: 3%;
    padding-bottom: 5%;
    padding-top: 13%;
    font-size: 20px;
    color: #95ABDB;
    margin: 0;
}
.niz2 > img{
    width: 3%;
    height: 100%;
    padding-bottom: 5%;
    padding-top: 13%;
}
.new-post{
    border: 1px solid #95ABDB;
    background-color: white;
    width: 100%;
    height: 59%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 20px;
}
.shapka1{
    display: flex;
    flex-direction: column;
}
.zagolovok2{
   font-size: 24px;
   color: #95ABDB;
   text-align: left;
   padding-left: 9%;
   padding-top: 9%;
   padding-bottom: 4%;
   margin: 0;
}
.znachenie2{
   font-size: 20px;
   color: #95abdbc5;
   text-align: left;
   padding-left: 9%;
   padding-bottom: 44%;
   margin: 0;
}

.niz3{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 7% 5%;
    gap: 36px;
}
.niz-icons{
    width: 39%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}
#camera{
    width: 24%;
    height: 90%;
}
#music{
    width: 16%;
    height: 85%;
}
#screpka{
    width: 15%;
    height: 97%;
}
.opublicovat{
   width: 40%;
   height: 100%;
   display: flex;
   justify-content: right;
   align-items: center;
}
.opublicovat > button{
   color: rgba(255, 255, 255, 0.874);
   background-color: #95ABDB;
   border-radius: 10px;
   border-style: none;
   position: absolute;
   padding: 6px 15px;
   font-size: 18px;
   font-family: inherit;
   transform: scale(1);
   transition: transform 0.3s ease;
}
.opublicovat > button:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.vtoraya-column{
    display: flex;
    flex-direction: column;
    border: 1px solid #B18DD2;
    background-color: white;
    width: 60%;
    height: 100%;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    padding-top: 2.5%;
    padding-bottom: 2%;
}
.shapka2{
    width: 95%;
    height: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    gap: 5px;
}
.zagolovok-photo{
   font-size: 24px;
   color: #B18DD2;
   text-align: left;
   padding-left: 3%;
   margin: 0;
}
.znachenie3{
   font-size: 24px;
   color: #b18dd29e;
   text-align: left;
   margin: 0;
}
.otdel-photo{
    width: 100%;
    height: 81%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.photo-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 53%;
    gap: 19px;
}
#photo1{
    width: 23%;
    height: 100%;
}
#photo2{
    width: 31%;
    height: 100%;
}
#photo3{
    width: 41%;
    height: 100%;
}
.photo-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 45%;
    gap: 19px;
}

#photo4{
    width: 23%;
    height: 100%;
}
#photo5{
    width: 74%;
    height: 100%;
}

.niz4{
    width: 100%;
    height: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-top: 2%;
}
.niz4 > img{
    width: 1.5%;
    height: 100%;
}
.niz4 > p{
   display: flex;
   flex-direction: row; 
   font-size: 20px;
   color: #95ABDB;
   margin: 0;
   padding-left: 3%;
}
.chats{
    display: flex;
    flex-direction: column;
    border: 1px solid #95ABDB;
    background-color: white;
    width: 80%;
    height: 63%;
    border-radius: 20px;
}

.zagolovok3{
   font-size: 24px;
   color: #95ABDB;
   text-align: left;
   margin-left: 40px;
}

.shapka3{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.elements{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 40px;
    gap: 20px;
}
.elements> img{
    display: flex;
    flex-direction: row;
    width: 3%;
    height: 54%;
}
.first-stroka{
    display: flex;
    flex-direction: row;
    gap: 21px;
    justify-content: center;
    padding-bottom: 41px;
}
.first-column{
    width: 21%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.messages{
    display: flex;
    flex-direction: column;
    border-style: none;
    background-color: #E3D9ED;
    width: 100%;
    height: 23%;
    justify-content: center;
    border-radius: 20px;
}
.messages > p{
    color: rgba(255, 255, 255, 0.733);
    font-size: 20px;
    padding-left: 10px;
}
.messages > .vse{
    color: rgb(255, 255, 255); 
}

.calls{
    display: flex;
    flex-direction: column;
    border-style: none;
    background-color: #E3D9ED;
    width: 100%;
    height: 51%;
    justify-content: center;
    border-radius: 20px;
}
.calls > p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    margin-bottom: 0;
}
.spisok{
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.recently{
    width: 100%;
    height: 1%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
}
.recently > p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.735);
    margin: 10px;
    margin-left: 20px;
    margin-right: 0;
}
.recently > img{
    width: 9%;
    height: 88%;
}
.second-column{
    width: 71%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    gap: 18px;
}
.poisk{
    display: flex;
    flex-direction: row;
    border-style: none;
    background-color: #95abdb8e;
    width: 100%;
    height: 10%;
    justify-content: left;
    border-radius: 20px;
    align-items: center;
}
.elements1{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.elements1 > img{
    width: 12%;
    height: 100%;
}
.elements1 > p{
    color: white;
    font-size: 24px;
    display: flex;
}
.chats-friends{
    display: flex;
    border: 1px solid #95ABDB;
    width: 100%;
    height: 77%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    border-radius: 20px;
    padding: 26px 0;
}
.person1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 18%;
    align-items: center;
}
.person{
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right; 
    gap: 22px;             
}
.fio-column{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 43px;
}
.fio-column2{
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 43px;
}
.fio > p{
    font-size: 20px;
    color: #95ABDB;
    margin:0;
    padding:0;
}
.fio{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.person > img{
    width: 69%;
    height: 18%;
}

.knopka{
    display: flex;
    flex-direction: column;
    width: 13%;
    height: 100%;
    justify-content: flex-start;
}
.knopka > img{
    width: 25%;
    height: 41%;
}
#line{
    width: 93%;
    height: auto;
}
#message{
    color: #95abdb8b;
}